body{
    background-color: #606060;
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background: url(images3/pill.jpg);
    background-size: cover;
}
.container{
    width: 1350px;
    margin: 0 auto;
    
    height:681px;
    
}
.nav_menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_menu li{
    margin-top: 5px;
    text-align: left;
    padding: 15px;
    font-size: 12pt;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: -25px;
}
header{
    background :#9A9DA0;
    width: 150px;
    padding:2px;
    
}
h1{
    align-self: center;
    padding:0.5px;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -12px;
    color: #05272D;
}
h2{
    align-self: center;
    padding: 0.5px;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -12px;
    color: #05272D;
}
h3{
    align-self: center;
    padding:0.5px;
    font-size:12pt;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -12px;
    color: #05272D;
}
h4{
    align-self: center;
    padding:0.5px;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -12px;
    color: #05272D;
}
.list_link{
    text-decoration: inherit;
    color: aliceblue;
}
#logo {
    padding:0;
    margin-bottom: 80px;
    
}
img{
    max-height: 80px;
    max-width: 150px;
    padding: 0;
}
#side_body{
    background-color:#818281;
    height: 94px;
    margin-top: -517.5px;
    width:153px;
    box-shadow:0px 0px 1px #FFFDFD;
    
}
#side_body_1{
    background-color:#818281;
    height: 89px;
    margin-top: 3px;
    width:153px;
    box-shadow:0px 0px 1px #FFFDFD;
}
#side_body_2{
    background-color:#818281;
    height: 90px;
    margin-top: 3.1px;
    width:153px;
    box-shadow:0px 0 1px #FFFDFD;
}
#side_body_3{
    background-color:#818281;
    height: 120px;
    margin-top: 3px;
    width:153px;
    box-shadow:0px 0px 1px #FFFDFD;
}
#side_body_4{
    background-color:#818281;
    height: 130px;
    margin-top: 4px;
    width:153px;
    box-shadow:0px 0px 1px #FFFDFD;
}
#center_body{
    background: rgba(8,8,8,.65);
    height: 670px;
    margin-top: -600px;
    width:710px;
    margin-right: 250px;
    box-shadow:0px 0px 1px #FFFDFD;
    float:right;
    border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
}
#center_body_1{
    background: rgba(8,8,8,.65);
    height: 440px;
    margin-top: -600px;
    width:710px;
    margin-right: 250px;
    box-shadow:0px 0px 1px #FFFDFD;
    float:right;
    border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
}
.center_body_mpc{
   background: rgba(8,8,8,.65);
    height: 670px;
    margin-top: -600px;
    width:800px;
    margin-right: 250px;
    box-shadow:0px 0px 1px #FFFDFD;
    float:right;
    border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;  
}
#center_body_1 input[type="Submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 300px;
}
#top_body{
    background-color:#818281;
    height: 60px;
    margin-top: -770px;
    width:1195px;
    margin-right: 0px;
    box-shadow:0px 0px 1px #FFFDFD;
    float:right;
}
.clear {
    clear: both;
}
.input-group input{
  background : #CCCECC;
  background : rgba(204, 206, 204, 1);
  border-style : Solid;
  border-color : #4D4D4D;
  border-color : rgba(77, 77, 77, 1);
  border-width : 1px;
  opacity : 0.8;
  border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
  filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
  height: 30px;
	width: 75%;
    padding: 5px 10px;
    margin-left: 70px;
}
.input-group select{
  background : #CCCECC;
  background : rgba(204, 206, 204, 1);
  border-style : Solid;
  border-color : #4D4D4D;
  border-color : rgba(77, 77, 77, 1);
  border-width : 1px;
  opacity : 0.8;
  border-radius : 19px;
  -moz-border-radius : 19px;
  -webkit-border-radius : 19px;
  filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
  height: 30px;
	width: 75%;
    padding: 5px 10px;
    margin-left: 70px;  
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
    font-size: 22px;
    color: azure;
    margin-left: 70px;
}
.input-group p{
     font-family: sans-serif;
    text-align: center;
    color: #DDDBDB;
    margin-left: 0;
}
.input-group a{
    color: skyblue;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #0696F9;
	border: none;
	border-radius: 4px;
    margin-left: 47%;
    font-size: 15px;
}
footer{
    margin-top: -18px;
    margin-left: 710px;
}
.box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgba(0,0,0,.8);
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0, 15px, 25px rgba(0,0,0,.5);
    border-radius: 10px;
  
}
.box h1{
    padding: 0 0 30px;
    margin: 0;
    color: azure;
    text-align: center;
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom:30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputbox label{
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: azure;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus~label,
.box .inputbox input:valid~label{
    top: -18px;
    left:0;
    color: #03a9f4;
    font-size:12px;
}
.box input[type="Submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.table_box p{
    font-family: sans-serif;
    text-align: center;
    color: #DDDBDB;
    margin-left: 0;
}

.table_box_1{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 0;
    color: aliceblue;
    margin: 20px;
    margin-top: 18px;
    width: 240px;
    margin-left: 50px;
    height: 95px;
}
.table_box_1 th{
   
}
.table_box_1 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_2{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 0;
    color: aliceblue;
    margin: 10px;
    margin-top: 30px;
    width: 240px;
    margin-left: 52px;
    height: 98px;
    
}
.table_box_2 th{
   
}
.table_box_2 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_3{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 4px 0;
    color: aliceblue;
    margin: 10px;
    margin-top: 40px;
    width: 240px;
    margin-left: 52px;
     height: 95px;
    
}
.table_box_3 th{
   
}
.table_box_3 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_4{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 4px 0;
    color: aliceblue;
    margin: 10px;
    margin-top: 40px;
    width: 600px;
    margin-left: 52px;
    
}
.table_box_4 th{
   
}
.table_box_4 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_5{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 4px 0;
    color: aliceblue;
    margin: 10px;
    margin-top: -512px;
    width: 240px;
    margin-left: 400px;
    
}
.table_box_5 th{
   
}
.table_box_5 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_6{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 4px 0;
    color: aliceblue;
    margin: 10px;
    margin-top:30.5px;
    width: 240px;
    margin-left: 400px;
    
}
.table_box_6 th{
   
}
.table_box_6 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_7{
    margin: 50px auto;
    display: table;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.6);
    text-align: center; 
    padding: 4px 0;
    color: aliceblue;
    margin: 10px;
    margin-top:40.5px;
    width: 240px;
    margin-left: 400px;
    height: 95px;
    
}
.table_box_7 th{
   
}
.table_box_7 td{
    color: #8CF4E5;
    font-weight: 800;
    font-size: 30px;
}
.table_box_1 img{
    width: 50px;
    height:50px;
    margin-left: 140px;
     margin-top: -80px;
    padding: 0;
    margin-bottom: -60px;
}
.table_box_2 img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-left: 140px;
     margin-top: -100px;
    padding: 0;
    margin-bottom: -50px;
}
.table_box_3 img{
      max-width: 50px;
    max-height: 60px;
    margin-right: 10px;
    margin-left: 140px;
     margin-top: -100px;
    padding: 0;
    margin-bottom: -50px;
}
.table_box_4 img{
     max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-left: 510px;
     margin-top: 0px;
    padding: 0;
    margin-bottom: -50px;
}
.table_box_5 img{
     max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-left: 192px;
     margin-top: 0px;
    padding: 0;
    margin-bottom: -50px;
}
.table_box_6 img{
     max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-left: 192px;
     margin-top: 0px;
    padding: 0;
    margin-bottom: -50px;
}
.table_box_7 img{
     max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    margin-left: 192px;
     margin-top: 0px;
    padding: 0;
    margin-bottom: -50px;
}
.input-group-Header p{
    font-family: sans-serif;
    text-align: center;
    color: #DDDBDB;
    margin-left: 0;
}
.table_row_1{
    font-weight: bold;
    margin-left: 30px;
    color: white;
}
.table_row_2{
    font-weight: bold;
    margin-left: 200px;
    color: white;
    margin-top:-34px;
}
.table_row_3{
    font-weight: bold;
    margin-left: 590px;
    color: white;
    margin-top: -34px;
}
.table_column{
    text-align: left;
    margin-left: 80px;
    color: white;
}
.table_column_2{
    text-align: left;
    margin-left: 250px;
    color: white;
    height:15px;
}
.table_column_align .table_column_2{
    margin-top: -64.6px;
    margin-bottom: 20px;
    height: 9.8px;
}
.table_column_3{
    text-align: left;
    margin-left: 580px;
    color: white;
    height:15px;
    
}
.table_column_align_2 .table_column_3{
    margin-top: -79.6px;
    margin-bottom: 56px;
    height: 2px;
    padding: 3px;
}
.clear {
    clear: both;
}
table, tr, th, td{
    height: 32.5px;
    margin-left: 60px;
    color: white;
   border: 2px solid #3d3d3d;
   border-collapse: collapse;
    width: -500px;
    text-align: center;
}
table, td a{
    color: #D7F9F7;
    text-decoration: none;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: center;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.error p{
    color: #a94442; 
    text-align: left;
}